/* Common */
   .container{
	width: 70%;
	margin: 0 auto;
}

input:focus{
	outline: none;
}

textarea:focus{
	outline: none;
}

button:focus{
	outline: none;
}
/* End Common */



/* Star First Section */
.fa-bars{
	display: none;
}
 .first-wrap{
   width: 100%;
   background-color: #6e00ff;
   box-shadow: 5px 5px 15px black;
   padding: 10px 0;
   position: fixed;
   right: 0;
   left: 0;
   top: 0;
   z-index: 9999;
 }
 .first{
 	display: flex;
 }
 .menu{
 	width: 50%;
 	display: flex;
 	justify-content: space-between;
 	margin-top: 15px;
 }
 .first .menu-link{
 	color: white;
 	font-size: 18px;
 }
   .first .logo{
   	width: 25%;
   }
 .first img{
 	margin-left: 30px;
   width: 100px;
   height: 50px;

 }
  .public{
  	width: 25%;
  	margin-top: 13px;
  	display: flex;
  	justify-content: center;
  }
  .public-item{
  	margin-left: 20px;
  }
  .public i{
  	color: white;
  	transition: all .5s ease-in-out;
  	font-size: 18px;
  }
  .public i:hover{
  	transform: rotate(360deg);
  }
/* End First section */


/* Start Second Section */
   .second-wrap{
   	width: 100%;
   	height: 84vh;
    margin-top: 70px;
   	/*background: red;*/
   }
   .second{
   	height: 85vh;
    background: url(new-imgs/path.png);
   	background-repeat: no-repeat;
   	background-size: 100% 100%;
   }
   .center{
   	text-align: center;
   	position: absolute;
   	left: 50%;
   	top: 40%;
   	height: 100px; 
   	transform:translateX(-50%);
   }
   .second-title{
   	color: white;
   	font-size:65px;
   	margin-bottom: 10px;
   }
   .second-title span{
       color: #ff0081d1;
       font-size: 65px;
       position: relative;
       right: 40px;
   }
   .second-text{
   	margin-bottom: 60px;
   	color: white;
   	font-size: 18px;
   }
   .second .btn{
   	padding: 6px 50px;
   	border-radius: 30px;
   	color: white;
   	background: #ff0081d1;
   	box-shadow: 5px 5px 50px #ff0081d1;
   }

/* End Second Section */


/* Start Third Section */
  .third-wrap{
  	width: 100%;
  	margin-top: 50px;
  	margin-bottom: 150px;
  }
  .third-top{
  	text-align: center;
  }

  .third-bottom-wrap{
  	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	margin-top: 150px;
  }
  .third-bottom{
  	width: 30%;
  	height: 200px;
  	text-align: center;
  }
  .third-item{
  	background: url(new-imgs/letter.png);
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:0 50;
  }
  .third-item img{
    height: 100px;
    width: 100px;
    transition: all .3s ease-in-out;
  }
  .third-item img:hover{
  	transform: scale(1.2);
  }
   .third-title{
   	 font-size: 50px;
   }
   .third-top span{
   	color: #ff0081d1;	
   }
   .item-title{
   	margin-top: 10px;
   	font-size: 17px;
   	font-weight: bold;
   	margin-bottom: 5px;
   }

/* End Third Section */


/* Start Fourth Section */
  .fourth-wrap{
  	width: 100%;
  	margin-top: 50px;
    position: relative;
  }
  .fourth-container{
  	width: 85%;
  	margin: 0 auto;
  }
  .fourth{
  	width: 100%;
  }
  .fourth-item{
  	height: 500px;
  }

  .fourth-title{ 
    font-size: 50px;
    margin-bottom: 20px;
  }
  .fourth-title span{
  	color: #ff0081d1;
  }
  .fourth-item:first-child img{
  	height: 1059px;
  	width:150%;
  	position: absolute;
  	bottom: -57%;
  	right: -16%;
  }

  .fourth img{
  	height: 500px;
  	width:500px;
  }
  .fourth-item:first-child{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  }
  .fourth-item .text-blok{
     position: absolute;
     bottom: 100px;
     right: 15%;
  }

/* End Fourth Section  */


/* Start Fifth Section */
  .fifth-wrap{
  	width: 100%;
  	background: url(new-imgs/Path1.png);
  	height: 100vh;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-size: 100% 100%;
  	margin-top: 50px;
  }
  .fifth{
  	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
   }
 
  .fifth img{
  	width: 561px;
  	height: 512px;
  	position: absolute;
  } 
  .fifth .container{
  	width: 70%;
  	margin: 0 auto;
  }
  .fifth .img-round{
  	width: 200px;
  	height: 200px;
  	position: absolute;
  	left: 40%;
  	top:-30%;

  }
  .fifth-item{
    width: 50%;
  }
  .fifth-title{
  	font-size: 50px;
  	color: white;
  	margin-bottom: 50px;
  }
  .fifth-text{
  	color: white;
  }
  .fifth .block{
  	position: relative;
  	top:20%;
  }
  .fifth-title span{
  	color: #ff0081d1;
  }
/* End Fifth Section  */



/* Start sixth section */
  .sixth-wrap{
  	width: 100%;
  	margin-top: 50px;
  	position: relative;
  }
  .sixth-item{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .sixth-item:last-child{
  	background: url(new-imgs/Group1.png);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  }
  .sixth-title{
  	font-size: 40px;
  	position: absolute;
  	left: 230px;
  }
  .sixth-title span{
  	color: #ff0081d1;
  }
  .sixth-text{
   font-size: 20px;
   margin-top: 100px;
  }
/* End sixth-section */



/* Start Seventh Section */
  .seventh-wrap{
  	width: 100%;
  	background:url(new-imgs/Group2.png);
  	margin-top: 80px;	
  	padding: 200px 0px;
  	background-size: 100% 100%;
  }
  .seventh-item:first-child{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  }
 
  .seventh .item:hover{
  	transform:scale(1.1);
  	box-shadow: 5px 15px 5px grey;
  	background: green;
  	color: white;
  	cursor: pointer;
  }
  .items-wrap:last-child{
  	margin-top: 10px;
  }
  .seventh .item{
  	display: flex;
  	align-items: center;
  	padding: 35px 15px;
  	border-radius: 5%;
  	transition: all .3s ease-in-out;
   box-shadow: 5px 5px 20px rgba(0,0,0,99)
  }
  .seventh i{
  	font-size: 40px;
  	margin-right: 20px;
  }
  .seventh .item-text{
  	font-size: 20px;
  	display: inline;
  }
  .seventh-title{
  	font-size: 55px;
  }
  .seventh-title span{
  	color: #ff0081d1;
  }
/* End Seventh Section */


/* Start eight section  */
  .eight-wrap{
  	width: 100%;
  	margin-top: 50px;
  	height: 300px;	
  }
  .eight-item{
  	display: flex;
    align-items: center;
  }
  .eight-item:first-child input{
  	width: 100%;
  }
  .eight-item input{
    border: none;
    padding: 0px 15px;
    width: 68%;
  }
  .eight .block{
  	box-shadow: 5px 5px 15px;
  	border-radius: 35px;
  	width: 80%;
  	padding: 10px 10px;
  	display: flex;
  	align-items: center;
  }
  .eight .block1{
  	box-shadow: 5px 5px 15px;
  	border-radius: 35px;
  	width: 80%;
  	padding: 10px 10px;
  	display: flex;
  	align-items: center;
  	margin-left: 100px;
  	position: relative;
  }
   .eight button{
  	border-radius: 30px;
  	padding:11px 25px;
  	float: right;
  	position: absolute;
  	border: none;
  	right: 0;
  }
  .eight-item i{
  	font-size: 25px;
  }

  .eight-text{
  	font-size: 35px;
  	text-align: center;
  	margin-bottom: 200px;
  }
  .eight-text span{
  	color: #ff0081d1;
  }
/* End eight section */

/* Start Nineth Section */
   .nineth-wrap{
      width: 100%;
      background-position: 0px 0px;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #6e00ff;
      height: 400px;
      margin-top: 500px;
      position: relative;
   }

   .nineth-wrap .container{
    position: relative;
   }
   .nineth{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
   top:110px;
    left: 3%;
   }
    .nineth img{
    width: 100px;
    height: 100px;
   }

   .nineth-wrap .nineth-img{
    width: 100%;
    height: 200px;
    position: absolute;
   left: 0;
   top: -50%;
   }
   .nine-item{
     height: 200px;
     width: 24%;
   }
   .nineth .menu{
   	display: flex;
   	flex-direction: column;
   	width: 100%;
   	color: white;
   }
   .nineth a{
   	color: white;
   }
   .nineth .menu-item{
   	margin-bottom: 15px;
   }
   .nineth input{
   	 background: #6200ff;
   	 border: none;
   	 margin-top:7px;
   	 padding: 10px 5px;
   	 width: 80%;
   }
   .nineth input::placeholder{
   	color: white;
   	font-size: 13px;
   }
   .nineth textarea{
   	width: 80%;
   	resize: none;
   	height: 60px;
   	margin-top: 7px;
   	background: #6200ff;
   	border: none;
    padding: 5px;
   }
   .nineth textarea::placeholder{
     color: white;
     font-size: 13px;
   }

   .nineth input:last-child{
   	background: white;
   }
   .nineth .menu-title{
   	font-size: 15px;
   	font-weight: bold;
   	margin-bottom: 55px;
   }
   .nine-text{
   	color: white;
   	font-size: 15px;
   	font-weight: bold;
   }
/* End Nineth Section */




/* Start Tenth Section */
  .tenth-wrap{
  	width: 100%;
  	background: #6e00ff;
  	padding: 15px;
    border-top: 1px solid black;
  }

  .tenth-wrap .container{
    border-left: 1px solid black;
  }

  .tenth{

  }
  
  .tenth-text{
   color: white;
  }
/* End Tenth Section */


@media screen and (max-width: 1277px)
{
	.second-title{
		font-size: 60px;
	}
	.second-title span{
		font-size: 65px;
	}
}


@media screen and (max-width: 986px)
{
	.eight .block1{
		margin-left: 0px;
	}
}



/* Mobile */
@media screen and (max-width: 520px)
{
	.container{
		width: 100%;
	}
 /* First section mobile */
     .first .logo{
         display: none;
     }
     .first-wrap{
        position: fixed;
        z-index: 999;
     }
     .fa-bars{
     	display: block;
     	font-size: 10px;
     	margin-left: 10px;
     }
     .first .menu{
     	background: #6e00ff;
       display: flex;
       flex-direction: column;
       border: 1px solid blue;
       position: absolute;
       left: -250px;
       top: 15px;
       transition: all .5s ease-in-out;
       padding: 15px;
       height: 94vh;
       z-index: 998;
     }
      .first .menu .menu-link{
        font-size: 12px;
        color: black;
        display: block;
     }
    .first .menu .menu-item{
     	border: 1px solid black;
     	text-align: center;
     	margin-bottom: 15px;
     	background: white;
     	padding: 5px;
     	transition: all .3s ease-in-out;
     }
      .first .menu .menu-item:hover{
         transform: scale(1.1);
         background: #6e00ff;
     }
     .first .menu-item:last-child{
     	margin-bottom: 0;
     }
     .first .active{
       left: 0;
     }
     .first .public{
        position: absolute;
        right: 0;
        margin-top: 6px;
        top: 1.1%;
        right: 10px;
       }
     .first .public i{
     	font-size: 12px;
     }  
/* End first mobile */


/* Second mobile */
   .second .second-title{
   	font-size: 20px;
   }

   .second-wrap{
    margin-top: 0px;
   }

   .second-title span{
   	font-size: 20px;
   	right: 0;
   }
   .second button{
      font-size: 12px;
      padding: 2px;
   }
   .second .center{
      top: 30%;
    }

   .second-text{
   	font-size: 15px;
   	margin-bottom: 50px;
   }
   /* End second mobile */



   /* Start Third mobile */
     .third-wrap{
     	margin-bottom: 100px;
     }
     .third-title{
     	font-size: 25px;
      margin-bottom: 10px;
     }
     .third-text{
     	font-size: 14px;
     }
     .third-bottom{
     	width: 100%;
     	margin-top: 80px;
     }
     .third-bottom-wrap{
     	margin-top: 50px;
     }
   /* End Third mobile */



   /* Start Fourth mobile */
     .fourth img{
     	width: 100%;
     	height: 300px;
     }
     .fourth-item:first-child{
     	height: 150px;
     }
     .fourth-title{
     	font-size: 25px;
     }
     .fourth .img{
     	display: none;
     }
     .fourth-item .text-blok{
       right: 0;
       bottom: 0;
       text-align: center;
       margin-bottom: 0px;
     }
     .fourth-item{
     	height: 300px;
     }
     .fourth-text{
     	font-size: 14px;
     }
   /* End Fourth mobile */





   /* Start Fifth  mobile section */
    .fifth .img-round{
    	height: 366px;
    	width: 100%;
    	left: 0%;
    	top: -102%;
    }
    .fifth{
    	justify-content: center;
    	align-items: center;
    }
    .fifth .img{
    	display: none;
    }
    .fifth-title{
    	font-size: 25px;
    	margin-bottom: 5px;
    }
    .fifth-text{
    	font-size: 14px;
    }
    .fifth .none{
    	display: none;
    }
    .fifth .fifth-item{
    	width: 100%;
    }
    .fifth .block{
      top: -20px;
    }
    .fifth-wrap .container{
    	width: 100%;
    	text-align: center;
    }
   /* End Fifth mobile section */



   /* Start six section */
     .sixth-title{
     	font-size: 25px;
     	left: 13%;
      text-align: center;
     }
     .sixth-text{
     	font-size: 13px;
     	text-align: center;
     	margin-top: 0;
     }
     .sixth-item{
     	height: 196px;
     	margin-top: 10px;
     }
   /* End six section */

   /* Start Seventh Section */
     .seventh-wrap{
     	background: rgba(0,0,0,.078);
     	padding: 15px 0px;
     }
     .seventh-title{
     	font-size: 25px;
     	text-align: center;
     	margin-bottom: 10px;
     }
     .seventh-text{
     	font-size: 14px;
     	text-align: center;
     }
     .seventh .items{
     	margin-top: 20px;
     }
     .seventh .item{
        padding: 20px;
        text-align: center;
     }
     .seventh .item-text{
     	font-size: 15px;
     	text-align: center;
     }
     .seventh i{
     	font-size: 20px;
     }
   /* End Seventh Section */


   /* Start Eight Mobile */
      .eight-wrap{
      	margin-top: 100px;
      }
      .eight-text{ 
      	margin-bottom: 50px;
      	font-size: 20px;
      }
      .eight .block{
      	width: 100%;
      }
      .eight-text{
        font-size: 25px;
      }
      .eight .block1{
      	width: 100%;
      	margin-top: 50px;
      }
      .eight input::placeholder{
      	font-size: 14px;
      }
      .eight i{
      	font-size: 20px;
      }
      .eight button{
      	padding: 8px 18px;
      }
   /* End Eight Mobile */


   /* Start Nine Mobile */
     .nineth-wrap{
      height: 1000px;
     	margin-top: 120px;
     }
     .nineth-wrap .nineth-img{
      top: -14%;
     }
     .nine-item{
      width: 100%;
      text-align: center;
     }
     .nineth{
     	top: 152px;
     	left: 0;
      display: flex;
      flex-direction: column;
     }
     .nineth .menu-item{
     	font-size: 14px;
     }
     .nineth img{
     	height: 57px;
     	width: 84px;
     	margin-bottom: 20px;
     }
     .nine-text{
     	font-size: 14px;
      margin-bottom: 5px;  
     }
     .nineth textarea{
     	height: 90px;
     	margin-bottom: 10px;
      text-align: center;
      color: white;
     }
      .nineth textarea::placeholder{
      	font-size:12px;

      }
     .nineth input{
     	padding: 0;
      text-align: center;
      width: 60%;
      font-size: 15px;
      padding: 5px 10px;
      color: white;
     .}
     .nineth input::placeholder{
     	font-size: 12px;
     }
     .nineth input:last-child {
         padding: 5px 10px; 
     }
     .nineth form{
     	margin-top: 15px;
     }
     .nineth .menu-title{
       margin-bottom: 10px;
     }
     .nineth .send{
      color: black;
      
     }
   /* End Nine mobile */

   /* Start Tenth Mobile */
     .tenth-text{
     	font-size: 15px;
     }
   /*End Tenth mobile */
}
/* End Mobile */










